@import "./../../libs/variables.scss";
.container{
    margin: 0 0 15px;
    padding: 5px;
    
    &:hover{
        background: $extraExtraLightGray;
    }
 
    .mainText{
    color: $darkGray;
    font-size: 0.8rem;
    font-weight: 600;
    
    }
    .flexed{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: fit-content;
        span{
            width: 25px;
            height: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            padding: 5px;
            cursor: pointer;
            transition: $transition;
            &:hover{
                background: $lightGray;
            }
        }
    }

}